@use "./styles/sass/variables" as *;

$productImageHeight: 470px;
$tabletBreakpoint: 768px;
$mobileBreakpoint: 425px;

h1 {
  color: map-get($colors, "primary");
}

* {
  letter-spacing: 0.04rem;
}

a {
  color: map-get($colors, "primary-dark");
  text-decoration: none;
}
a:hover {
  color: map-get($colors, "primary-dark");
}

//home page
.bodyContainer {
  background-color: map-get($colors, "tertiary-dark");
}
@media screen and (min-width: $tabletBreakpoint) {
  .homePageCard {
    height: 585px;
  }
  .homePageCard img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  .searchBar {
    padding: 0 150px 0 150px;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  .homePageCard {
    height: 100%;
  }
  .homePageCard img {
    height: 100%;
  }
  .searchBar {
    padding: 0;
  }
}
@media screen and (max-width: $mobileBreakpoint) {
  .homePageCard {
    height: 540px;
    margin: 0 5px 0 5px;
  }
  .homePageCard img {
    height: 50%;
  }
}

//product page
.reviewsTitle {
  color: map-get($colors, "secondary");
}
@media screen and (min-width: $tabletBreakpoint) {
  .productPageContainer {
    display: flex;
    justify-content: space-between;
  }
  .productImage {
    height: $productImageHeight;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .productTitle {
    justify-content: start;
  }
  .productTextContainer {
    text-align: left;
    padding: 0 50 0 50;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  .productPageContainer {
    flex-direction: column;
  }
  .productTitle {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
  }
  .productImage {
    height: 400px;
    border-radius: 10px;
  }
  .productTextContainer {
    text-align: center;
  }
  .priceContainer {
    justify-content: center;
    align-items: center;
  }
}

//checkout page
@media screen and (min-width: $tabletBreakpoint) {
  .checkoutItemsContainer {
    margin-left: 50px;
  }
  .checkoutItemsRemoveButton {
    margin-left: 50px;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  .checkoutPageContainer {
    flex-direction: column;
  }
  .checkoutItemsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-left: 0;
  }
}

.checkoutItemsRemoveButton {
  @media screen and (max-width: $tabletBreakpoint) and (min-width: $mobileBreakpoint) {
    margin-left: 50px;
  }
  @media screen and (max-width: $mobileBreakpoint) {
    margin-left: 30px;
  }
}

.checkoutImage {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}

//footer
.footerIcon {
  color: map-get($colors, "primary-dark");
  font-size: 1rem;
  margin: 0 0.5rem;
}
@media screen and (max-width: $tabletBreakpoint) {
  .footerRowContainer {
    flex-direction: column;
  }
  .footerCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .footerTitleContainer {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
}
